/* CSS Document */
/*
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif;

dull maroon: #987D7C
dutch white: #F4E4BA
dull green: #56876D
black bean: #290606
dark green: #04724D


background-image: url("../images/titlebg.png")
*/

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-color: #F4E4BA;
}

.titles {
	font-size: 2em;
	margin: 0 100px;
	padding: 10px;
	border: solid 7px #290606;
	color: #fff;
	background-image: url("../images/titlebg.png")
}

.titles p {
	font-family: 'Permanent Marker', cursive;
	text-shadow: 0px 0px 5px #290606;
}

.menu {
	margin: 5px 100px;
	padding: 10px;
	border: solid 7px #290606;
	color: #290606;
	background-color: #fff;
}

#item1 img {
	max-height: 400px;
	max-width: 400px;
}

#item1 p {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	
}

.ntext {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	color: #290606;
	font-size: 3em;
	text-shadow: 5px 5px 0 #987D7C, 5px 5px 0 #987D7C;
}

#item3 {
	font-family: 'Raleway', sans-serif;
	color: #290606;
	padding-bottom: 25px;
}

#item3 p {
	padding-left: 80px;
	padding-right: 80px;
}

button {
	padding: 14px 80px;
}

.email {
	align-content: center;
	border-radius: 12px;
	background-color: #F4E4BA;
	box-shadow: 7px 5px 0 #987D7C;
	color: #290606;
	font-size: 1.5em;
	font-family: 'Permanent Marker', cursive;
	margin-left: 22%;
}

.phone {
	align-content: center;
	border-radius: 12px;
	background-color: #F4E4BA;
	box-shadow: 7px 5px 0 #987D7C;
	color: #290606;
	font-size: 1.5em;
	font-family: 'Permanent Marker', cursive;
	margin-left: 30%;
	margin-top: 20px;
}

.strengths {
	align-content: center;
	border-radius: 12px;
	background-color: #56876D;
	box-shadow: 7px 5px 0 #04724D;
	color: #290606;
	font-size: 1.5em;
	font-family: 'Permanent Marker', cursive;
	margin-left: 8%;
	padding: 10px 90px;
}

#item7 {
	margin-top: 30px;
	margin-left: 30px;
	border-top: thick dashed #290606;
}

.menuimgs {
	align-content: center;
	margin-left: 15%;
}

#item7 img {
	display: inline;
	max-height: 150px;
	max-width: 150px;
	padding: 20px 5px 0;
}

#item7 a {
	text-decoration: none;
	display: inline;
	text-align: center;
	padding: 0 32px;
	color: #987D7C;
	font-family: 'Raleway', sans-serif;
}

#item7 a:hover {
	text-decoration: underline;
	color: #290606;
}

.captions {
	margin-left: 15%;
}

#item8 img {
	max-width: 289px;
	max-height: 512px;
}

.resume {
	align-content: center;
	border-radius: 12px;
	background-color: #F4E4BA;
	box-shadow: 7px 5px 0 #987D7C;
	color: #290606;
	font-size: 1.5em;
	font-family: 'Permanent Marker', cursive;
	margin-left: 17%;
	margin-top: 20px;
}

.resume:hover {
	background-color: #987D7C;
	box-shadow: 7px 5px 0 #F4E4BA;
	color: #F4E4BA;
	font-size: 1.5em;
	font-family: 'Permanent Marker', cursive;
}